:root {
    --DarkRed:#860202;
    --PersianIndigo:#340B61;
    --Gold:#D4901C;
}

body {
    margin: 0px;
    width: 100vw;
}

.mainGrid {
    display: grid;
    grid-template-rows: 1fr 100% 5vh;
    flex-wrap: nowrap;
    position: absolute;
    background-color: #efefef;
}


/*--------------------Nav Bar--------------------*/
body header {
    /* sticky is similar to fixed, but only applies before it goes off screen */
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    height: 8vh;
    z-index: 1;
}

header nav {
    display: flex;
    flex-direction: row;
    height: 95%;
    border-bottom: .6vh solid var(--Gold);
    justify-content: space-between;
}

nav div {
    padding: 1px;
    align-items: center;
}



/*--------------------Left Nav--------------------*/
nav .Left {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 12.5%;
}

.Left img {
    height: 100%;
    width: auto;
}




/*--------------------Right Nav--------------------*/
nav .Right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
    padding-right: 30px;
    width: 37.5%;
    flex-wrap: nowrap;
}

.Right p {
    color: white;
    /*font-weight: 700;*/
    margin: 1px 5px;
    padding: 5px 10px;
    font-size: 25px;
    white-space: nowrap; /*Prevents text itself from wrapping*/
}

.GoldHover:hover{
    background-color: var(--Gold);
    color: var(--PersianIndigo) ;
}


/*--------------------Main Margins--------------------*/
.Margin {
    background-color: var(--DarkRed);
}


/*--------------------Main Body Content--------------------*/
.secondaryGrid {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 100%;
    overflow: hidden;
}

.mainContent {
    display: flex;
    flex-direction: column;
    min-width: 75px;
    min-height: 50px;
    margin: 50px 100px;
}

.mainContent h1 {
    color: var(--PersianIndigo);
    text-align: center;
    font-size: 40px;
    margin: 0 0 10px 0;
}

.mainContent p {
    margin: 10px 15%;
    font-size: 20px;
    text-indent: 2em;
}

#aboveImage {
    margin-bottom: 30px;
}

.mainContent img {
    width: 60%;
    margin: 0 20%;
    z-index: -1;
}

#belowImage {
    margin-top: 30px;
}


/*--------------------Footer--------------------*/
.Footer {
    background-color: var(--PersianIndigo);
    color: white;
    z-index: 1;
    display: flex;
    height: 100%;
    justify-content: center;
}

.Footer p {
    text-align: center;
    padding: 0 10px;
}
.Footer img {
    height: 100%;
}


/*--------------------Generic Classes--------------------*/
.DarkRedBackground{
    background-color: var(--DarkRed);
}

.DarkRed {
    color:var(--DarkRed);
}

.GoldBackground {
    background-color: var(--Gold);
}

.Gold {
    color:var(--Gold);
}

.PersianIndigo {
    color:var(--PersianIndigo);
}
 
.PersianIndigoBackground {
    background-color:var(--PersianIndigo);
}