:root {
    --DarkRed:#860202;
    --PersianIndigo:#340B61;
    --Gold:#D4901C;
}



body {
    margin: 0px;
}

.mainGrid {
    display: grid;
    grid-template-rows: 1fr 120vh .5fr;
}


/*--------------------Nav Bar--------------------*/
body header {
    /* sticky is similar to fixed, but only applies before it goes off screen */
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    height: 8vh;
}

header nav {
    display: flex;
    flex-direction: row;
    height: 95%;
    border-bottom: 4px solid var(--Gold);
    justify-content: space-between;
}

nav div {
    /*border: 2px dashed black;*/
    padding: 1px;
    align-items: center;
}



/*--------------------Left Nav--------------------*/
nav .Left {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 12.5%;
}

.Left p {
    margin: 0;
    height: 100%;
}




/*--------------------Right Nav--------------------*/
nav .Right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 40px;
    padding-right: 30px;
    width: 37.5%;
    flex-wrap: nowrap;
}

.Right p {
    color: white;
    /*font-weight: 700;*/
    margin: 1px 5px;
    padding: 5px 10px;
    font-size: 25px;
    white-space: nowrap; /*Prevents text itself from wrapping*/
}

.GoldHover:hover{
    background-color: var(--Gold);
    color: var(--PersianIndigo) ;
}


/*--------------------Main Margins--------------------*/
.Margin {
    background-color: var(--DarkRed);
}



/*--------------------Main Body Content--------------------*/
.secondaryGrid {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 100px;
    gap: 100px;
    
    
}

.mainContent > div {
    background-color: var(--Gold);
    box-shadow: 1px 1px 10px var(--PersianIndigo), -1px -1px 10px var(--PersianIndigo);
}

.Card {
    display: flex;
    flex-direction: column;
}

.Card p {
    border: 1px dashed black;
    margin: 10px;
    align-self: stretch;
    text-align: center;
    font-size: 1em;
    flex: 1;
}

#cardTitle {
    font-size: 32px;
    font-weight: 500;
    border: 1px dashed cyan;
    /*
    align-self: stretch;
    text-align: center;
    */
}

.Buttons {
    display: flex;
    flex-basis: 1;
}


/*--------------------Footer--------------------*/
.Footer {
    background-color: var(--PersianIndigo);
    color: white;
}

.Footer p {
    text-align: center;
    padding: 0 10px;
}


/*--------------------Generic Classes--------------------*/
.DarkRedBackground{
    background-color: var(--DarkRed);
}

.DarkRed {
    color:var(--DarkRed);
}

.GoldBackground {
    background-color: var(--Gold);
}

.Gold {
    color:var(--Gold);
}

.PersianIndigo {
    color:var(--PersianIndigo);
}
 
.PersianIndigoBackground {
    background-color:var(--PersianIndigo);
}