:root {
    --DarkRed:#860202;
    --PersianIndigo:#340B61;
    --Gold:#D4901C;
}



body {
    margin: 0px;
}

.mainGrid {
    display: grid;
    grid-template-rows: 1fr 130vh 5vh;
    flex-wrap: nowrap;
    position: absolute;
    background-color: #efefef;
}


/*--------------------Nav Bar--------------------*/
body header {
    /* sticky is similar to fixed, but only applies before it goes off screen */
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    height: 8vh;
    z-index: 1;
}

header nav {
    display: flex;
    flex-direction: row;
    height: 95%;
    border-bottom: .6vh solid var(--Gold);
    justify-content: space-between;
}

nav div {
    padding: 1px;
    align-items: center;
}



/*--------------------Left Nav--------------------*/
nav .Left {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 12.5%;
}

.Left img {
    height: 100%;
    width: auto;
}




/*--------------------Right Nav--------------------*/
nav .Right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
    padding-right: 30px;
    width: 37.5%;
    flex-wrap: nowrap;
}

.Right p {
    color: white;
    /*font-weight: 700;*/
    margin: 1px 5px;
    padding: 5px 10px;
    font-size: 25px;
    white-space: nowrap; /*Prevents text itself from wrapping*/
}

.GoldHover:hover{
    background-color: var(--Gold);
    color: var(--PersianIndigo) ;
}


/*--------------------Main Margins--------------------*/
.Margin {
    background-color: var(--DarkRed);
}



/*--------------------Main Body Content--------------------*/
.secondaryGrid {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 100%;
    overflow: hidden;
}

.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 75px;
    min-height: 50px;
    margin: 50px 100px;
    gap: 100px;
    height: 10vh;
}

.mainContent > div {
    background-color: var(--Gold);
    box-shadow: 1px 1px 10px gray, -1px -1px 10px gray;
    border-radius: 0 0 10px 10px;
    position: relative;
}
.mainContent > div:hover {
    box-shadow: 5px 5px 15px gray, -5px -5px 15px gray;
    border-radius: 5px;
}

.Card {
    display: flex;
    flex-direction: column;
}

.Card p {
    /*border: 1px dashed black;*/
    margin: 10px;
    color: var(--DarkRed);
    align-self: stretch;
    text-align: center;
    font-size: 1em;
    flex: 1;
}

#cardTitle {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    padding: 5px 0;
    color: var(--PersianIndigo);
    /*text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;*/
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    align-self: center;
    width: 100%;
}
#cardDescr {
    text-align: left;
}

.Card img {
    width: 100%;
    min-height: 140px;
    
}


/*--------------------Buttons--------------------*/
.Buttons {
    display: flex;
    flex-basis: 1;
    justify-content: center;
    gap: 30px;
}

input[type="submit"] {
    background-color: white;
    border: 2px solid #cdcdcd;
    border-radius: 3px;
    padding: 10px 70px;
    font-size: 18px;
    font-family: 'Times New Roman';
    font-weight: 500;
    margin: 10px 0;
    width: 40%;
}
input[type="submit"]:hover {
    background-color: #dddddd;
    color: var(--PersianIndigo);
    border: 2px solid white;
}


/*--------------------Footer--------------------*/
.Footer {
    background-color: var(--PersianIndigo);
    color: white;
    z-index: 1;
    display: flex;
    height: 100%;
    justify-content: center;
}

.Footer p {
    text-align: center;
    padding: 0 10px;
}
.Footer img {
    height: 100%;
}


/*--------------------Generic Classes--------------------*/
.DarkRedBackground{
    background-color: var(--DarkRed);
}

.DarkRed {
    color:var(--DarkRed);
}

.GoldBackground {
    background-color: var(--Gold);
}

.Gold {
    color:var(--Gold);
}

.PersianIndigo {
    color:var(--PersianIndigo);
}
 
.PersianIndigoBackground {
    background-color:var(--PersianIndigo);
}