:root {
    --DarkRed:#860202;
    --PersianIndigo:#340B61;
    --Gold:#D4901C;
}



body {
    margin: 0px;
}

.mainGrid {
    display: grid;
    grid-template-rows: 1fr 120vh .5fr;
}


/*--------------------Nav Bar--------------------*/
body header {
    /* sticky is similar to fixed, but only applies before it goes off screen */
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    height: 65px;
}

header nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    /*border: 3px dashed red;*/
    justify-content: space-between;
}

nav div {
    /*border: 2px dashed black;*/
    padding: 1px;
    align-items: center;
}



/*--------------------Left Nav--------------------*/
nav .Left {
    /*border: 1px dashed black;*/
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 12.5%;
}

.Left p {
    margin: 0;
    justify-content: center;
    align-self: center;
    height: 100%;
    border: 1px solid cyan;
}




/*--------------------Right Nav--------------------*/
nav .Right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 45px;
    padding-right: 30px;
    width: 37.5%;
}

.Right p {
    color: white;
    /*font-weight: 700;*/
    margin: 1px 5px;
    font-size: 28px;
}

.GoldHover:hover{
    background-color: var(--Gold);
    color: var(--PersianIndigo) ;
}


/*--------------------Main Margins--------------------*/
.Margin {
    background-color: var(--DarkRed);
}



/*--------------------Main Body Content--------------------*/
.secondaryGrid {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 100px;
    
}

.mainContent > div {
    background-color: var(--Gold);
}

.Card {
    display: flex;
    flex-direction: column;
}

.Card p {
    border: 1px dashed black;
    margin: 10px;
    align-self: center;
}



/*--------------------Footer--------------------*/
.Footer {
    background-color: var(--PersianIndigo);
    color: white;
}

.Footer p {
    justify-content: center;
    padding: 0 10px;
}


/*--------------------Generic Classes--------------------*/
.DarkRedBackground{
    background-color: var(--DarkRed);
}

.DarkRed {
    color:var(--DarkRed);
}

.GoldBackground {
    background-color: var(--Gold);
}

.Gold {
    color:var(--Gold);
}

.PersianIndigo {
    color:var(--PersianIndigo);
}
 
.PersianIndigoBackground {
    background-color:var(--PersianIndigo);
}