/* Written By Zach */

:root {
    --DarkRed:#860202;
    --PersianIndigo:#340B61;
    --Gold:#D4901C;
}

/*TODO 
    Create Flavor Text
    Create Graph
    Improve Styling
*/


/* Generic Elements */
header img {
    position: relative;
    width: 70%;
    z-index:1;
    
}

body{
    display:flex;
    flex-direction: column;
}

h1{
    padding:10px;
    font-size: 36px;
}

nav p{
    color:white;
    margin-right:5px;
    padding-right:10px;
    font-size: 25px;
    flex-wrap: nowrap;
    
}

a {
    text-decoration: none;
    color:inherit;
}

.Footer {
    background-color: var(--PersianIndigo);
    color: white;
    z-index: 1;
    display: flex;
    height: 6vh;
    justify-content: center;
}

.Footer p {
    text-align: center;
    padding: 0 10px;
}
.Footer img {
    height: 100%;
}

p {
    font-size: 21px;
    padding:8px;
}

/* This centers the image, places it on a negative zindex, and adds a background */
.img-centered{
    display:flex;
    justify-content: center;
    z-index:0;
    background-color: black;
    margin-left: -7px;
    margin-top: -10%;
    margin-bottom: -15%;
}

nav {
    /* sticky is similar to fixed, but only applies before it goes of screen */
    position: sticky;
    top:0;
    margin-left: -7px;
    left:0;
    z-index: 4;
    border-bottom: .6vh solid var(--Gold);
    height: 8vh;
}

/* Specific Classes */
.Logo{
    font-size:25px;
}

.nav-button {
    font-size:25px;
    padding-left:2%;
    padding-right:2%
}

.body{
    position:relative;
    z-index:3;
    margin-left:-7px;
    width:auto;
    padding-bottom: 40px;
    /* This is to deal with and issue that caused the body to not go far enough up to cover the image, not sure why the spacing is odd
    but this bandaid fix works for now */
    margin-top:-1.4%;
    clear:both;

    flex-grow:1;
}

.AboutUs{
    display:flex;
    margin-top: 5%;
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    flex-direction: column;
}

.AboutUs > h1{
    background-color: var(--Gold);
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 0px -4px 0px 8px #b47b18;
}

.AboutUs > p{
    background-color: var(--DarkRed);
    box-shadow: 0px 4px 0px 8px rgb(90, 0, 0);
    margin-top:0px;
    padding-top:0px;
    color: rgb(209, 209, 209);
}

.button {
    background-color: var(--Gold);
    color: var(--PersianIndigo);
    width: min-content;
    white-space: nowrap;
    font-size: 26px;
    padding:5px;
    border:3px solid black;
    transition: background-color 0.5s, color 0.5s;
}

.button:hover{
    background-color: #d1a04b;
    color:#452566;

}

.Statistics{
    margin-top: 5%;
}

.Statistics .button {
    margin-left: 20%;
}

.Statistics img {
    width: 100%;
}

.stat-left {
    background-color: var(--DarkRed);
    color: rgb(209, 209, 209);
    padding: 20px;
    height: min-content;
    margin-left: 20%
}

.stat-right {
    background-color: var(--Gold);
    padding: 20px;
    width:50%;
    margin-right:20%;
}

/* Generic Classes */

.Centered{
    text-align: center;
}

.flex-between{
    display:flex;
    justify-content: center;
    gap: 5%
}

.flex-left{
    display:flex;
    justify-content: left;
    float:left;
  
}

.flex-left img{
    height:8vh;
}



.flex-right{
    display:flex;
    justify-content: right;
    
}

.GoldHover:hover{
    background-color: var(--Gold);
    color: var(--PersianIndigo) ;
}

.DarkRedBackground{
    background-color: var(--DarkRed);
}

.DarkRed {
    color:var(--DarkRed);
}

.GoldBackground{
    background-color: var(--Gold);
}

.Gold{
    color:var(--Gold);
}

.PersianIndigo{
    color:var(--PersianIndigo);
}

.PersianIndigoBackground{
    background-color:var(--PersianIndigo)
}

.WhiteBackground{
    background-color: white;

}